body {
     
    background-color: #fff;
    padding:0 50px 50px 50px;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    color:#727272;
    font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color:#4b5884;
    margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
    font-size: 1rem;
    line-height: 1.5;
    margin:0 0 20px;
}

h1, h2, h3 {
    line-height:1.1;
}

h3 {margin-top: 40px;}

h1 {
    text-transform:uppercase;
    font-size:28px;
}

h2 {
    font-size:22px;
    font-weight: 600;
    /*letter-spacing: 0.1rem;*/
    color:#4b5884;
    text-transform:uppercase;
}

h3, h4, h5, h6 {
    color:#4b5884;
}

a {
    color:#39c;
    text-decoration:none;
}

a:hover {
    color:#069;
}

a small {
    font-size:11px;
    color:#777;
    margin-top:-0.3em;
    display:block;
}

a:hover small {
    color:#777;
}

.wrapper {
    width:1100px;
    margin:0 auto;
}

blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic;
}

code, pre {
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    color:#333;
    font-size:12px;
}

pre {
    padding:8px 15px;
    background: #f8f8f8;
    border-radius:5px;
    border:1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width:100%;
    border-collapse:collapse;
}

th, td {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid #e5e5e5;
}

dt {
    color:#444;
    font-weight:700;
}

th {
    color:#444;
}

img {
    max-width:100%;
}

header {
    width:230px;
    background-color:#efefef;
    color:#4b5884;
    padding:50px 20px 40px 20px;
    float:left;
    position:fixed;
    -webkit-font-smoothing:subpixel-antialiased;
    text-align: center;
    border-color: rgba(75, 88, 132, 0.3);
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    z-index: 1000;
}

header p {
    font-size:11px;
    text-transform: uppercase;
    color:#4b5884;
}

header h1 {
    font-family: 'Signika', sans-serif;
    text-transform:none;
    font-size: 4rem;
    font-weight:600;
    color:#4b5884;
    /* margin:0 0 20px; */
    margin:0;
}

#phone-pic{fill:#4b5884;}

.btn {
    display: block;
    margin-bottom: 1rem;
    color: rgba(75, 88, 132, 0.7);
    background-color: rgba(75, 88, 132, 0.08);
    border-color: rgba(75, 88, 132, 0.3);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    text-align: center; }

.btn:hover {
    color: rgba(75, 88, 132, 0.8);
    text-decoration: none;
    background-color: rgba(75, 88, 132, 0.2);
    border-color: rgba(75, 88, 132, 0.3); }

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        display: inline-block;
        width: 22%;
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;}
        .btn + .btn {margin-left: 1rem;} }

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        /* width: 100%; */
        padding: 0.75rem;
        font-size: 0.9rem; }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; } }

.headbar {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    
    /*
    background-image:url(/images/bg-test.png);
    background-repeat:repeat-x;
    background-attachment: fixed;
    background-position: top center;
    background-size: 118px;
    */
    
    /*
    background-color: #4B5884;
    */
    
    
    background: #D6E6DE;
    background: -webkit-linear-gradient(175deg, #FFD4CF, #4b5884);
    background: -o-linear-gradient(175deg, #FFD4CF, #4b5884); 
    background: -moz-linear-gradient(175deg, #FFD4CF 10%, #4b5884);
    background: linear-gradient(170deg, #D6E6DE, #4b5884);
    
    padding-top:120px;
}

.content {
    width:780px;
    float:right;
    padding-top:180px;
    padding-bottom:50px;
}

small {
    font-size:11px;
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:50px 0;
}

footer {
    width:270px;
    float:left;
    position:fixed;
    bottom:50px;
    -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

    .wrapper {
        width:auto;
        margin:0;
    }

    header, .content, footer {
        float:none;
        position: relative;
        width:auto;
    }

    .headbar {border:1px solid #e5e5e5;
        border-width:1px 0;
        padding:20px;
        margin:0 0 20px;}
    
    .content {
        border:1px solid #e5e5e5;
        border-width:1px 0;
        padding:20px;
        margin:0 0 20px;
    }

    header a small {
        display:inline;
    }
    
    p.view{
        text-align: center;
    }
    p.view small{display:block;}

}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap:break-word;
    }

    header {
        padding:20px;
    }

    header p.view {
        position:static;
    }

    pre, code {
        word-wrap:normal;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding:0 15px 20px 20px;
    }
}

@media print {
    body {
        padding:0.4in;
        font-size:12pt;
        color:#444;
    }
}
